{% extends 'base_authentication.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            
            <div class="card-body">
                <div class="card-title mt-3">
                    <h4>Loing to you account</h4>
                </div>
                <form action=" {% url 'login' %}" method="post">
                {% csrf_token %}
                {% include 'partials/_messages.html' %}
                <div class="from-group">
                    <input type="text" name="username" id="usernameField" class="form-control form-control-md" placeholder="Username" value="{{fieldValues.username}}"/>
                </div>    
                <div class="from-group d-flex align-items-center">
                    <input type="password" name="password" id="passwordField" class="form-control form-control-md" placeholder="Password" />
                    
                </div>
                <input type="submit" value="Login" class="btn btn-block btn-primary mt-3 submit-btn">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock content %}
